/build/
*.mojopkg
*.moji
.pixi/
.magic/
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
!.vscode/extensions.json
.idea/
.agents/
.DS_Store
Thumbs.db
pixi.lock
.pixi/*
!.pixi/config.toml
